<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Choose your Gear</h1>
    <hr class="my-2 pb-4">
    <div class="row">
      <div class="col"><a routerLink="/">
        <div class="card text-white bg-secondary first d-flex">
          <div class="card-body d-flex align-items-end justify-content-center">
            <h4 class="card-title ">Bike</h4>

          </div>
        </div>
      </a></div>
      <div class="col"><a routerLink="/">
        <div class="card text-white bg-secondary second d-flex">
          <div class="card-body d-flex align-items-end justify-content-center">
            <h4 class="card-title ">Rear Derailleur</h4>

          </div>
        </div>
      </a></div>      <div class="col"><a routerLink="/">
      <div class="card text-white bg-secondary third d-flex">
        <div class="card-body d-flex align-items-end justify-content-center">
          <h4 class="card-title ">Front Shock</h4>

        </div>
      </div>
    </a></div>
    </div>
  </div>
</div>
<button routerLink="/" type="button" name="" id=""
        class="btn btn-secondary btn-lg btn-block">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
</button>
