<section class="home"><div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
      <h4 class="">Sorry :(</h4>
      <span class="text-muted">Login not ready yet</span>
      <hr>
      <div><a routerLink="/form" class="text-danger">Check "Custom your bike"</a></div>
    </div>
  </div>
  <nav class="navbar navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<div class="jumbotron text-center">
  <h1 class="display-3">Ready?</h1>
  <p class="lead">“Life is like riding a bicycle. In order to keep your balance, you must keep moving.” </p>
  <hr class="my-4">
  <p>Albert Einstein.</p>
  <p class="lead">
    <a routerLink="/form" class="btn"><span>Custom your bike!</span><em></em></a>
  </p>
</div>
</section>
