/* You can add global styles to this file, and also import other style files */
body{
  & a{
    cursor: pointer;
  }
}

.btn-secondary{
  background: #a73737;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border:0;
  border-radius: 0
}

.btn-primary{
  background: #a73737;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  border: 0;
  &:hover{
    background-color: #222222;
  }
}

.btn{
  border-radius: 0;
}

.jumbotron,.list-group{
  border-radius: 0;
  background-color: #ffffff;

}


